<a href="https://colab.research.google.com/github/nikhilisaac/byte-xl-platinumbatch/blob/main/platinum_batch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**sep** is used to modify the seperator in print function. default value=" "

**end** is used to modify what is done at the end of the print function.default value is new line

In [ ]:
if __name__=="__main__":
  s='hello world'
  string=s.split(" ")
  print(string)
  print(*string, sep='\n')
  #print("{0}\n{1}".format(string[0],string[1]))

\ escape character may be used for ignoring keywords for the interpretor

In [ ]:
if __name__=="__main__":
  print("\"hai\"","ok")

the variable in python are dynamic in nature

the variable are actually objects of the class(datatype of the variable)

HENCE PYTHON IS AN OBJECT ORIENTED LANGUAGE

In [ ]:
a=10
a='hello'
print(type(a))

In [ ]:
a=int(input())
flag=0
while(a>1):
  remainder=a%6
  a=a/6
  if remainder!=0:
    flag=-1
    break;
if flag==-1:
  print("False")
elif flag==0:
  print("True")

(n-1)!=n!/n

In [ ]:
num1=int(input())
num2=int(input())
num2,num1=num1,num2
print(num1,num2,sep="\n")

In [ ]:
abc=54
print(abc)
del abc
print(abc)

**data types in python**

numeric

text

sequence 

mapping

set 

booleean 

binary

use 0x prefix for hexadecimal system

use 0o prefix for octal number system

In [ ]:
numint=0o45
print(numint)

In [ ]:
print(0x2F6C)
print()

12140

In [ ]:
strVar='hello bsdk'
strVar='hello loid forger'
print(strVar)

hello loid forger

In [ ]:

a= list(map(str,input().split()))
print(a)

In [ ]:
a,b,c,d=map(int,input().split())
print(a)
print(b)
print(c)
print(d)

1 2 3 4
1
2
3
4

In [ ]:
a=input().split(",")
print(a)

In [ ]:
tc=int(input())
a=[]
for i in range(tc):
  a.append(int(input()))
print(type(a),a)

5
96
654
65
43
65
<class 'list'> [96, 654, 65, 43, 65]

In [ ]:
a=list(map(int,input().split()))
print(a)
print(*a)

1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]
1 2 3 4 5 6