<a href="https://colab.research.google.com/github/nikhilisaac/byte-xl-platinumbatch/blob/main/platinum_batch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**sep** is used to modify the seperator in print function. default value=" "

**end** is used to modify what is done at the end of the print function.default value is new line

In [ ]:
if __name__=="__main__":
  s='hello world'
  string=s.split(" ")
  print(string)
  print(*string, sep='\n')
  #print("{0}\n{1}".format(string[0],string[1]))

\ escape character may be used for ignoring keywords for the interpretor

In [ ]:
if __name__=="__main__":
  print("\"hai\"","ok")

"hai" ok

the variable in python are dynamic in nature

the variable are actually objects of the class(datatype of the variable)

HENCE PYTHON IS AN OBJECT ORIENTED LANGUAGE

In [ ]:
a=10
a='hello'
print(type(a))

In [ ]:
a=int(input())
flag=0
while(a>1):
  remainder=a%6
  a=a/6
  if remainder!=0:
    flag=-1
    break;
if flag==-1:
  print("False")
elif flag==0:
  print("True")

(n-1)!=n!/n

In [ ]:
num1=int(input())
num2=int(input())
num2,num1=num1,num2
print(num1,num2,sep="\n")

In [ ]:
abc=54
print(abc)
del abc
print(abc)

**data types in python**

numeric

text

sequence 

mapping

set 

booleean 

binary

use 0x prefix for hexadecimal system

use 0o prefix for octal number system

In [ ]:
numint=0o45
print(numint)

In [ ]:
print(0x2F6C)
print()

In [ ]:
strVar='hello bsdk'
strVar='hello loid forger'
print(strVar)

In [ ]:

a= list(map(str,input().split()))
print(a)

In [ ]:
a,b,c,d=map(int,input().split())
print(a)
print(b)
print(c)
print(d)

In [ ]:
a=input().split(",")
print(a)

In [ ]:
tc=int(input())
a=[]
for i in range(tc):
  a.append(int(input()))
print(type(a),a)

In [ ]:
a=list(map(int,input().split()))
print(a)
print(*a)

In [ ]:
a=tuple(input().split())
print(a)

In [ ]:
l=[1,[1,2,3,4],2,3,4,5,6,'abc',True,10+0j]
print(l[-5])
print(l[1:7])

In [ ]:
from logging import exception
num1 ,num2= int(input()), int(input())
opch=input()
calci={'+':num1 + num1, '-':num1 - num2, '*':num1 * num2, '/':num1 / num2,}
if opch in calci.keys():
  print(calci[opch])
else:
  print("invalid key")

120
120
//
invalid key

In [ ]:
a=3
b=12
print(a|b)
print(a&b)

15
0

In [ ]:
i=0
while(i<12):
  print(i,end=" ")
  i+=1

0 1 2 3 4 5 6 7 8 9 10 11

In [ ]:
num =541
if

 



# CHECK PRIME NUMBER

In [ ]:
from math import sqrt
flag=0
num =int(input())
for i in range(2,int(sqrt(num))+1):
  if num%i==0:
    flag=-1
    break;
  
if flag==-1:
  print("not prime")
else:
  print("prime")

17
prime

# pattern matching

In [ ]:
n=int(input())
for i in range(0,n+1):
  for j in range(1,i+1):
    print(j,end='')
  print(" ")

5

1
12
123
1234
12345

In [ ]:
n=int(input())
for i in range(0,n+1):
  for k in range(0,n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end='')
  print(" ")

5

    1
   12
  123
 1234
12345

In [ ]:
n=int(input())
alpha=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
for i in range(0,n+1):
  for k in range(0,n-i):
    print(" ",end="")
  for j in range(0,i+1):
    print(chr(65+i),end='')
  print(" ")

5
     A
    BB
   CCC
  DDDD
 EEEEE
FFFFFF

In [ ]:
n=int(input())
alpha=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
for i in range(0,n+1):
  for k in range(0,n-i):
    print(" ",end="")
  for j in range(0,i+1):
    print(chr(65+j),end='')
  print(" ")

5
     A
    AB
   ABC
  ABCD
 ABCDE
ABCDEF

In [ ]:
n=int(input())
for i in range(0,n+1):
  for k in range(0,n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end='')
  for j in range(1,i):
    print(i-j,end='')
  print(" ")

5

    1
   121
  12321
 1234321
123454321

In [ ]:
n=int(input())
for i in range(0,n+1):
  for k in range(0,n-i):
    print("*",end="")
  for j in range(1,i+1):
    print(" ",end='')
  for j in range(1,i):
    print("*",end='')
  print(" ")

5
*****
****
***  *
**   **
*    ***
     ****

# FUNCTIONS

In [ ]:
def foo(var):
  st=66
  print(st)
st=89
foo(st)
print(st)

66
89

In [ ]:
def store(cust,ph,city):
  print("CUSTOMER:",cust)
  print("MOBILE NO:",ph)
  print("CITY:",city)

store(city='Nagpur',cust='Nikhil',ph=8830481411)

CUSTOMER: Nikhil
MOBILE NO: 8830481411
CITY: Nagpur

In [ ]:
def fun(a,b):
  if ((4-a)>(a-b) and a<4):
    a=3+2+a
    a=3+1+a
    a=1+3+b
    return a+ fun(a,b)+fun(a,a)
  return a+b
print(fun(0,0))

16

# Lists

In [ ]:
list=[1,2,3,4,5,6]
list.extend(["hi","hiiiii","hello"])
print(list)

[1, 2, 3, 4, 5, 6, 'hi', 'hiiiii', 'hello']

In [ ]:
nlist=[1,2,3,4,5,6,7,8,9,10]         
r=nlist.pop(2) # Will remove the element atr the specified index
print(nlist)
nlist.clear()  # Will clear the lsit not delete. The list still exists
nlist.remove() # Will remove the specified element (!!! not the index)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numlist=[1,'hai',2,'ok',5,'hai',6,7,'hai']
count=numlist.count('hai')
temp=0
if count%2==0:
  param=count//2
else:
  param=(count//2)+1
for i in range(param):
  temp=numlist.index('hai',temp+1,len(numlist))

print(temp)

5

In [ ]:
list=[1,4,9,10,11,13,15]

In [ ]:
list1=[1,3]
list2=[2,4]
result=list1+list2
result=sorted(result)
print(result)

[1, 2, 3, 4]

In [ ]:
list=input().split(" ")

In [ ]:
numtuple=tuple(input().split(" "))
i=int(input())
print(numtuple[:i]+numtuple[i+1:])

1 2 3 4 5 6
2
('1', '2', '4', '5', '6')

In [ ]:
tup=tuple(input().split())
newtup=[]
counter=0
for i in tup:
  if i not in newtup:
    newtup.append(i)
  else:
    counter+=1

if counter!=0:
  print(counter+1)
else:
  print("0")

1 2 3 4 5 6
0

In [ ]:
list1=[1,2,3,4,(1,2,3,4),4,5]
counter=0;
for i in list1:
  try:
    i=i/2;
    counter+=1;
  except:
    print(counter);

4

In [ ]:
list1=[1,2,3,4,(1,2,3,4),4,5]
counter=0;
for i in list1:
  if isinstance(i,tuple):
    break;
  counter+=1;
print(counter)

4

In [ ]:
list1=[(),(1,2,3),(1)]
list2=filter(None,list1)
print(list2)

In [ ]:
from math import sqrt
n=int(input())
primelist=[]
res=0
sum=0

def checkprime(num):
  flag=0
  for i in range(2,int(sqrt(num))+1):
    if num%i==0:
      flag=-1
      break;
  return flag


for i in range(1,n):
  if checkprime(i)!=-1:
    primelist.append(i)
print(primelist)
for i in range(len(primelist)):
  for j in range(i,len(primelist)):
    sum+=primelist[j];
    if sum in primelist:
      res+=1;
      break;


print(res)

20
[1, 2, 3, 5, 7, 11, 13, 17, 19]
3

In [ ]:
set1={1,2,3,434,534,654,6}

In [ ]:
n=int(input())
set1=[]
fact=1
for i in range(1,n+1):
  for j in range(1,i+1):
    fact=fact*i
  set1.append(fact)
print(set(set1))

5
{86400000, 1, 27648, 4, 108}

In [ ]:
set1=set(input().split(","))
set2=set(input().split(","))
print(set1.difference(set2))

hai,1,2,3
1,2
{'3', 'hai'}

In [ ]:
n=int(input())
dict1={}
for i in range(n):
  dict1[i]=int(input())
print(dict1)

5
1
2
3
4
5
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [ ]:
str1="Testing Sample"
print(str1.upper())
print(str1.lower())
print(str1.swapcase())

TESTING SAMPLE
testing sample
tESTING sAMPLE

In [ ]:
str5="Testing Samples"
print(str5.index("s"))  #first occurence of the character
print(str5.rindex("s")) #last occurence of the character
print(str5.count("s"))  #count the number of occurences

2
14
2

In [ ]:
str6="my data for testing. try this. still testing"
str7=str6.split(". ")
print(str7)
str8=[]
for i in range(len(str7)):
  str8.append(str7[i].capitalize())
print(str8)
print(*str8,sep=". ")

['my data for testing', 'try this', 'still testing']
['My data for testing', 'Try this', 'Still testing']
My data for testing. Try this. Still testing

In [ ]:
str4="hello world"
index=str4.rindex("l")
print(str4[:index]+str4[index+1:])

hello word

In [ ]:
str1="aabcdefgaab"
str2=[]
for i in range(len(str1)-1):
  if str1[i]!=str1[i+1]:
    str2.append(str1[i])
str2.append(str1[i+1])   
print(*str2,sep="")

abcdefgab

In [8]:
num=int(input())
for i in range(num,0,-1):
  print(i,end=' ')
  for j in range(i,0,-2):
    print("*",end=" ")
  print()

9
9 * * * * *
8 * * * *
7 * * * *
6 * * *
5 * * *
4 * *
3 * *
2 *
1 *

In [12]:
def func(num):
  print(num,end=" ")
  for i in range(num):
    print("*",end=" ")
  print()
  while (num!=0):
    return func(num-1)

num=int(input())
func(num)

9
9 * * * * * * * * *
8 * * * * * * * *
7 * * * * * * *
6 * * * * * *
5 * * * * *
4 * * * *
3 * * *
2 * *
1 *
0